.container {
    max-width: 800px;
}

.right {
    text-align: right;
}
.center {
    text-align: center;
}

.content {
    padding-top: 1rem;
}

.title {
    border-bottom: 1px solid #eee;
    letter-spacing: .2rem;
    font-weight: 600;
}

.navbar {
    border-bottom: 1px solid #eee;
}

.splash {
    margin-top: 4rem;
}

.navbar-link {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: #222;
    line-height: 6.5rem;
}

footer {
    font-size: 1.2rem;
    margin-top: 4rem;
}

.posts {
    font-size: 2rem;
}