{{ partial "header.html" . }}
            <div class="splash center">
                <div class="">
                    <h2>Hello, I'm Nat.</h2>
                </div>
                <h5>I'm a software engineer, currently living in Brooklyn, NY.</h5>
                <hr/>
                <div class="row">
                    <div class="four columns"><a class="navbar-link" href="/about">About</a></div>
                    <div class="four columns"><a class="navbar-link" href="#">Projects</a></div>
                    <div class="four columns"><a class="navbar-link" href="/posts">Blog</a></div>
                </div>
            </div>
            <hr/>
{{ partial "footer.html" . }}